<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
  #editor—wrapper {
    border: 1px solid #ccc;
    z-index: 100; /* 按需定义 */
  }
  #toolbar-container { border-bottom: 1px solid #ccc; }
  #editor-container { height: 500px; }
</style>
</head>

<body>
<div>发布帖子</div>
<div>
    <input type="text" name="title" id="title" placeholder="请输入标题">
</div>

<div id="div1" >
    <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
</div >

<div>
    <button type="button" id="btn"  onclick="submitpost()">提交</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
 <script>
    const E = window.wangEditor
    const editor = new E('#div1')
    editor.create()

    //提交帖子
    function submitpost(){
     $.ajax({
            type : "post",
            dataType: "json",
            url: "/create",
            data:{
                "title": $("#title").val(),
                "content" : editor.txt.html()
                },
            success: function(result){
                console.log("成功");
            },
             error: function(result){
                    console.log("异常");
            }
     });
     //return false;           //禁止默认提交行为
   }

</script>
</body>


</html>